
/* TRANSICIÓN SUAVE */
body,
.navbar,
.card,
.emp-info,
footer {
    transition: all 0.3s ease;
}

/* MODO OSCURO */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .navbar {
    background-color: #1f1f1f !important;
}

.dark-mode .hero {
    background-color: #1a1a1a;
}

.dark-mode .card {
    background-color: #2a2a2a;
    color: white;
}

.dark-mode .card p {
    color: #d1d1d1;
}

.dark-mode .emp-info {
    background-color: #111827;
}

.dark-mode footer {
    background-color: #1f1f1f;
}

.dark-mode input,
.dark-mode select {
    background-color: #2a2a2a;
    color: white;
    border-color: #555;
}

 Nuestras Especialidades
.dark-mode .services-title {
    color: black !important;
}

/* MODO OSCURO - arreglar títulos */
.dark-mode #especialidades h2,
.dark-mode .services-title,
.dark-mode #especialidades .card-title,
.dark-mode #especialidades p {
    color: white !important;
}